.skills{
width: 220px;
 height:120px;
 margin: 10 px 10px 10px 10px;
}
.skills1{
width: 400px;
 height:120px;
 margin: 10 px 10px 10px 10px;

}
body{
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
}
#headings{
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:xx-large;
    font-weight: 600;
    text-align: center;
    background-color: rgb(11, 1, 1);
    color: rgb(188, 7, 7);
    padding: 25px;
}
.images{
    margin-top: 8%;
    display:flex
    justify-content: center;
}
.grad{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: 400;
    
}
.container1{
    background-color: rgb(244, 191, 133);
  padding: 75px;
  margin: 20px;
}
.container2{
    background-color: rgb(244, 191, 133);
    padding: 75px;
    margin: 20px;
}
#mygrad{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: large;
    text-decoration: underline;

}
#myugrad{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: larger;
    text-decoration: underline;
}
.list{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;

}